/.venv/
/env/
/dist
*.egg-info
/.idea/
/mereswine/static/.webassets-cache
/mereswine/static/assets/
/mereswine/static/locale/*.js
.*.swp
*.pyc
*.cfg
!defaults.cfg
!setup.cfg
celerybeat-schedule
/build/
