Babel==2.9.1
Flask==1.1.1
Flask-Assets==0.12
Flask-Babel==0.12.2
Flask-Mail==0.9.1
Flask-Multipass>=0.0.dev4
Flask-OAuthlib==0.9.5
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
WTForms==2.2.1
Jinja2==2.10.1
SQLAlchemy==1.3.7
Werkzeug==0.15.5
celery==4.3.0
csscompressor==0.9.5
hiredis==1.0.0
pytz
redis==3.3.8
requests==2.22.0
requests-oauthlib<1.2.0
webassets==0.12.1
psycopg2==2.8.3
libsass==0.19.2
IPython
flask-shell-ipython
mondrian==0.8.0
