Babel==2.4.0
Flask==0.12.2
Flask-Assets==0.12
Flask-Babel==0.11.2
Flask-Multipass>=0.0.dev4
Flask-OAuthlib==0.9.3
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
WTForms==2.1
Jinja2==2.9.6
SQLAlchemy==1.1.10
Werkzeug==0.12.2
celery==4.0.2
csscompressor==0.9.4
hiredis==0.2.0
pytz
redis==2.10.5
requests==2.17.3
webassets==0.12.1
psycopg2==2.7.1
libsass==0.12.3
IPython
flask-shell-ipython
