<!DOCTYPE html>
<html>
    <head>
        <title>{{ config['APP_NAME'] }} Tracker - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta charset="UTF-8">
        {% block meta %}{% endblock %}

        {%- assets filters='less,cssmin,cssrewrite', depends='css/bootstrap/*.less', output='assets/bundle.css',
                   'css/bootstrap/bootstrap.less', 'css/bootstrap/theme.less',
                   'css/main.less' %}
            <link href="{{ ASSET_URL|version_url }}" rel="stylesheet">
        {%- endassets %}
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('.index') }}">{{ config['APP_NAME'] }} Tracker</a>
                </div>
                <nav class="collapse navbar-collapse it-navbar-menu" role="navigation">
                    {% block nav %}
                        <ul class="nav navbar-nav">
                            <li{% if g.menu == 'index' %} class="active"{% endif %}><a href="{{ url_for('.index') }}">Home</a></li>
                            {% if current_user.is_authenticated() %}
                                <li{% if g.menu == 'server_list' %} class="active"{% endif %}><a href="{{ url_for('.server_list') }}">Servers</a></li>
                                <li{% if g.menu == 'statistics' %} class="active"{% endif %}><a href="{{ url_for('.statistics') }}">Statistics</a></li>
                            {% endif %}
                        </ul>
                    {% endblock %}
                </nav>
                <div class="it-navbar-login">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <span class="flashed-message">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% if not current_user.is_authenticated() %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-form dropdown-menu-right" role="menu">
                                <form action="{{ url_for('.login') }}" method="POST">
                                    <li>
                                        <input type="text" name="username" placeholder="Username" required>
                                    </li>
                                    <li>
                                        <input type="password" name="password" placeholder="Password" required>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="login-logout-button">
                                        <div class="remember-me">
                                            <input id="remember" type="checkbox" name="remember">
                                            <label for="remember">Remember me</label>
                                        </div>
                                        <div class="login-button">
                                            <button type="submit" class="btn btn-default">Login</button>
                                        </div>
                                    </li>
                                </form>
                            </ul>
                        </div>
                    {% else %}
                        <form action="{{ url_for('.logout') }}" method="POST">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default logged-user-button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"> {{ current_user.username }}</span>
                                </button>
                                <button type="submit" class="btn btn-default">Logout</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </header>

        <ol class="breadcrumb">
            <li><a href="{{ url_for('.index') }}">{{ config['APP_NAME'] }} Tracker</a></li>
            {% for bc in g.breadcrumbs %}
                {% if loop.last %}
                    <li class="active">{{ bc.title }}</li>
                {% elif bc.link %}
                    <li><a href="{{ bc.link }}">{{ bc.title }}</a></li>
                {% else %}
                    <li>{{ bc.title }}</li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class="clearfix container">
            {% block content %}{% endblock %}
        </div>

        {%- assets filters='rjsmin', output='assets/bundle.js', 'js/jquery.js', 'js/bootstrap.js', 'js/main.js' %}
            <script src="{{ ASSET_URL|version_url }}"></script>
        {%- endassets %}
        <script>
            $('.it-navbar-login .dropdown-menu').on('click', function(e) {
                if($(this).hasClass('dropdown-menu-form')) {
                    e.stopPropagation();
                }
            });
        </script>
        {% block body_end %}{% endblock %}
    </body>
</html>
