{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content -%}
    <div class="it-home-header">
    	<h1>{{ config['APP_NAME'] }} Tracker</h1>
        <div class="login-panel panel panel-info">
            <div class="panel-body">
                {% if not logged %}
                    <form action={{ url_for('.login') | tojson }} method="POST">
                        <div>
                            <input type="text" name="username" placeholder="Username" required>
                        </div>

                        <div>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>

                        <div class="remember-me">
                            <input id="remember" type="checkbox" name="remember">
                            <label for="remember">Remember me</label>
                        </div>

                        <div class="login-button">
                            <button type="submit" class="btn btn-info">Login</button>
                        </div>
                    </form>
                {% else %}
                    Welcome back {{ current_user.username }}!
                    <form action={{ url_for('.logout') | tojson }} method="POST">
                        <div class="login-button">
                            <button type="submit" class="btn btn-info">Logout</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <h3>Welcome to the {{ config['APP_NAME'] }} Tracker!</h3>
    Here you can see all the information of the servers running your application, as well as beign able to manage them and explore interesting statistics information.<br>
    <br>
    {% if not logged %}
        To access the restricted area you have to login.
    {% else %}
        Click on the following buttons to access the restricted area:
    {% endif %}
    <div class="sections-buttons">
        <form action={{ url_for('.server_list') | tojson }} method="GET">
            <button type="submit" class="btn btn-default"{{ ' disabled' if not logged }}>
                Server Management
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </form>
        <form action={{ url_for('.statistics') | tojson }} method="GET">
            <button type="submit" class="btn btn-default"{{ ' disabled' if not logged }}>
                Statistics
                <span class="glyphicon glyphicon-stats"></span>
            </button>
        </form>
    </div>
{%- endblock %}
