{% extends '_layout.html' %}

{% block title %}Server management{% endblock %}

{% block content -%}

    <div class="server-management-body">

        <h1>{{ title }}</h1>

        <div class="server-actions">
            <h3>Actions</h3>
            <div class="btn-group">
                <button id="crawl-now" type="button" class="btn btn-default"{{ ' disabled' if not server.enabled }}>
                    <span class="glyphicon glyphicon-refresh"></span>
                    Crawl now
                </button>
                <button id="js-server-delete" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete server
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="server-main-information panel panel{{ '-primary' if server.enabled else '-default' }}">
                        <div class="panel-heading">
                            <h3>Main information</h3>
                            <div>
                                <span id="edit-main-info" class="glyphicon glyphicon-edit" title="Edit"></span>
                            </div>
                        </div>
                        <div class="panel-body container-fluid">
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                </div>
                                <div class="col-md-4">
                                    <label>Organisation:</label>
                                </div>
                                <div class="col-md-7">
                                    <span id="organisation" class="field-value">{{ server.organisation }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-link"></span>
                                </div>
                                <div class="col-md-4">
                                    <label>URL:</label>
                                </div>
                                <div class="col-md-7">
                                    <a id="url" class="field-value" href="{{ server.url }}">{{ server.url }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <div class="col-md-4">
                                    <label>Contact name:</label>
                                </div>
                                <div class="col-md-7">
                                    <span id="contact" class="field-value">{{ server.contact }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </div>
                                <div class="col-md-4">
                                    <label>Email:</label>
                                </div>
                                <div class="col-md-7">
                                    <a id="email" class="field-value" href="mailto:{{ server.email }}">{{ server.email }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                </div>
                                <div class="col-md-4">
                                    <label>UUID:</label>
                                </div>
                                <div class="col-md-7">
                                    <span id="uuid">{{ server.uuid }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                <div class="col-md-4">
                                    <label>Enabled:</label>
                                </div>
                                <div class="col-md-7">
                                    <input id="enable" class="hidden enable-checkbox" type="checkbox"{{ ' checked' if server.enabled }}>
                                    {% if server.enabled %}
                                        <span id="enabled-text" class="text-success">Yes</span>
                                    {% else %}
                                        <span id="enabled-text" class="text-muted">No</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span id="save-main-info" class="glyphicon glyphicon-floppy-disk" title="Save"></span>
                            <span id="cancel-main-info" class="glyphicon glyphicon-remove" title="Cancel"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="server-crawled-information panel panel{{ '-primary' if server.enabled else '-default' }}">
                        <div class="panel-heading">
                            <h3>Crawled information</h3>
                        </div>
                        <div class="panel-body container-fluid">
                            {% if server.crawled_data %}
                                {% for key, value in server.crawled_data | dictsort %}
                                    {% if value %}
                                        {% set aggregation_func = config['CRAWLED_FIELDS_SETTINGS'].get(key, {}).get('aggregation', None) %}
                                        <div class="row">
                                            <div class="col-md-1">
                                                <span class="glyphicon glyphicon-file"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <label>
                                                    {{ key | pretty_name }}
                                                    {% if aggregation_func %}
                                                         ({{ aggregation_func }})
                                                    {% endif %}
                                                    :
                                                </label>
                                            </div>
                                            <div class="col-md-7">
                                                <span>
                                                    {% set aggregated_value = (value | aggregate(aggregation_func)) %}
                                                    {% if aggregated_value is string or aggregated_value is number %}
                                                        {{ aggregated_value }}
                                                    {% else %}
                                                        [Data not displayable]
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span>No crawled data available for this server.</span>
                            {% endif %}
                        </div>
                        {% if server.crawled_data %}
                            <div class="panel-footer">
                                <span><strong>Last crawled:</strong> {{ server.crawl_date|datetimeformat('medium') }} ({{ config['BABEL_DEFAULT_TIMEZONE'] }})</span>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>

            {% if server.geolocation %}
                <div class="row">
                    <div class="col-md-12 server-geolocation" data-latitude="{{ server.geolocation.latitude }}" data-longitude="{{ server.geolocation.longitude }}">
                        <h3>Geolocation</h3>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>

{%- endblock %}

{% block body_end %}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <script>

        $('#enable').on('change', function(){
            var enabledText = $('#enabled-text');
            if (this.checked) {
                enabledText.text('Yes');
                enabledText.removeClass('text-muted').addClass('text-success');
            } else {
                enabledText.text('No');
                enabledText.removeClass('text-success').addClass('text-muted');
            }
        });

        var oldFields = {
            organisation: $('#organisation').text(),
            url: $('#url').text(),
            contact: $('#contact').text(),
            email: $('#email').text(),
            enabled: $('#enable').prop('checked')
        }

        $('#edit-main-info').on('click', function(e){
            oldFields = {
                organisation: $('#organisation').text(),
                url: $('#url').text(),
                contact: $('#contact').text(),
                email: $('#email').text(),
                enabled: $('#enable').prop('checked')
            }
            $('.server-main-information').removeClass('panel-primary').removeClass('panel-default').addClass('panel-info');
            $('.server-main-information .panel-heading h3').text('Main information (editing)');
            $('.server-main-information .panel-footer').show();
            $(this).hide();
            $('.server-main-information .field-value').each(function(){
                var fieldValue = $(this);
                var div = fieldValue.parent();
                $('<input>', {type: 'text', value: fieldValue.text(), id: fieldValue.prop('id'), class: "field-input"}).appendTo(div);
                fieldValue.remove();
            });
            $('#enable').removeClass('hidden');
            $('#enabled-text').addClass('hidden');
        });

        $('#save-main-info').on('click', function(e){
            $.ajax({
                type: 'POST',
                url: {{ url_for('.update_server', id=server.id) | tojson }},
                data: {
                    organisation: $('#organisation').val(),
                    url: $('#url').val(),
                    contact: $('#contact').val(),
                    email: $('#email').val(),
                    enabled: $('#enable').prop('checked')
                },
                success: function() {
                    var panelClass = $('#enable').prop('checked') ? 'panel-primary' : 'panel-default';
                    $('#crawl-now').prop('disabled', ! $('#enable').prop('checked'));
                    $('.server-main-information').removeClass('panel-info').addClass(panelClass);
                    $('.server-crawled-information').removeClass('panel-primary').removeClass('panel-default').addClass(panelClass);
                    $('.server-main-information .panel-heading h3').text('Main information');
                    $('.server-main-information .panel-footer').hide();
                    $('#edit-main-info').show();
                    $('.server-main-information .field-input').each(function(){
                        var fieldInput = $(this);
                        var div = fieldInput.parent();
                        var fieldValue;
                        if (fieldInput.prop('id') == 'url') {
                            fieldValue = $('<a>', {id: fieldInput.prop('id'), href: fieldInput.val(), text: fieldInput.val(), class: "field-value"});
                        } else if (fieldInput.prop('id') == 'email') {
                            fieldValue = $('<a>', {id: fieldInput.prop('id'), href: 'mailto:' + fieldInput.val(), text: fieldInput.val(), class: "field-value"});
                        } else {
                            fieldValue = $('<span>', {id: fieldInput.prop('id'), text: fieldInput.val(), class: "field-value"});
                        }
                        fieldValue.appendTo(div);
                        fieldInput.remove();
                    });
                    $('#enable').addClass('hidden');
                    $('#enabled-text').removeClass('hidden');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });

        $('#cancel-main-info').on('click', function(){
            $('.toggle-button').css('cursor', 'default');
            var panelClass = oldFields.enabled ? 'panel-primary' : 'panel-default';
            $('.server-main-information').removeClass('panel-info').addClass(panelClass);
            $('.server-main-information .panel-heading h3').text('Main information');
            $('.server-main-information .panel-footer').hide();
            $('#edit-main-info').show();
            $('.server-main-information .field-input').each(function(){
                var fieldInput = $(this);
                var div = fieldInput.parent();
                var fieldValue;
                if (fieldInput.prop('id') == 'url') {
                    fieldValue = $('<a>', {id: fieldInput.prop('id'), href: oldFields[fieldInput.prop('id')], text: oldFields[fieldInput.prop('id')], class: "field-value"});
                } else if (fieldInput.prop('id') == 'email') {
                    fieldValue = $('<a>', {id: fieldInput.prop('id'), href: 'mailto:' + oldFields[fieldInput.prop('id')], text: oldFields[fieldInput.prop('id')], class: "field-value"});
                } else {
                    fieldValue = $('<span>', {id: fieldInput.prop('id'), text: oldFields[fieldInput.prop('id')], class: "field-value"});
                }
                fieldValue.appendTo(div);
                fieldInput.remove();
            });
            $('#enable').prop('checked', oldFields['enabled']).addClass('hidden').trigger('change');
            $('#enabled-text').removeClass('hidden');
        });

        $('#js-server-delete').on('click', function(){
            if (!confirm('Do you really want to delete this instance?')) {
                return;
            }
 
            $.ajax({
                type: 'DELETE',
                url: {{ url_for('.remove_server', id=server.id) | tojson }},
                success: function() {
                    location.href = {{ url_for('.server_list') | tojson }};
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                }
            });
        });

        $('#crawl-now').on('click', function(){
            $.ajax({
                type: 'POST',
                url: {{ url_for('.update_server', id=server.id) | tojson }},
                data: {
                    crawl: true
                },
                success: function() {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });

        $('.server-geolocation').each(function(){
            $this = $(this);
            var mapCanvas = $('<div>', {class: 'map-canvas'});
            $this.append(mapCanvas);

            var coords = new google.maps.LatLng($this.data('latitude'), $this.data('longitude'));

            var options = {
                zoom: 9,
                center: coords,
                mapTypeControl: false,
                navigationControlOptions: {
                    style: google.maps.NavigationControlStyle.SMALL
                },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(mapCanvas.get(0), options);

            var marker = new google.maps.Marker({
                position: coords,
                map: map,
                title: {{ title | tojson }}
            });
        });

    </script>
{%- endblock %}
