{% extends '_layout.html' %}

{% block title %}Server management{% endblock %}

{% block content -%}

    <h1>{{ title }}</h1>

    <div class="server-actions">
        <h3>Actions</h3>
        <div class="btn-group">
            {% if server.enabled %}
                <button id="crawl-now" type="button" class="btn btn-default">
            {% else %}
                <button id="crawl-now" type="button" class="btn btn-default disabled">
            {% endif %}
                Crawl now
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button id="js-server-delete" type="button" class="btn btn-danger">
                Delete server
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

    {% if server.enabled %}
        <div class="server-main-information panel panel-primary">
    {% else %}
        <div class="server-main-information panel panel-default">
    {% endif %}
        <div class="panel-heading">
            <h3>Main information</h3>
            <div>
                <span id="cancel-main-info" class="glyphicon glyphicon-remove" title="Cancel"></span>
                <span id="edit-main-info" class="glyphicon glyphicon-edit" title="Edit"></span>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-section">
                <div>
                    <span class="glyphicon glyphicon-briefcase"></span>
                    <label>Organisation:</label>
                    <span id="organisation" class="field-value">{{ server.organisation }}</span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-user"></span>
                    <label>Contact name:</label>
                    <span id="contact" class="field-value">{{ server.contact }}</span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-ok"></span>
                    <label>Enabled:</label>
                    {% if server.enabled %}
                        <input id="enable" class="hidden-input" type="checkbox" value="1" checked>
                    {% else %}
                        <input id="enable" class="hidden-input" type="checkbox" value="1">
                    {% endif %}
                    <div class="toggle-button">
                        <div class="toggle"></div>
                    </div>
                </div>
            </div>
            <div class="panel-section">
                <div>
                    <span class="glyphicon glyphicon-link"></span>
                    <label>URL:</label>
                    <a id="url" class="field-value" href="{{ server.url }}">{{ server.url }}</a>
                </div>
                <div>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <label>Email:</label>
                    <a id="email" class="field-value" href="mailto:{{ server.email }}">{{ server.email }}</a>
                </div>
                <div>
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <label>UUID:</label>
                    <span id="uuid" class="field-value">{{ server.uuid }}</span>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% if server.enabled %}
        <div class="server-crawled-information panel panel-primary">
    {% else %}
        <div class="server-crawled-information panel panel-default">
    {% endif %}
        <div class="panel-heading">
            <h3>Crawled information</h3>
        </div>
        <div class="panel-body">
            <div class="panel-section"></div>
            <div class="panel-section"></div>
            <div class="panel-section"></div>
        </div>
    </div>

{%- endblock %}

{% block body_end %}
    <script>

        $('.toggle-button').on('click', function() {
            if ($('#edit-main-info').hasClass('glyphicon-floppy-disk')) {
                var $this = $(this);
                $this.toggleClass('toggled');
                var toggled = $this.hasClass('toggled');
                var checkbox = $('#enable');
                checkbox.prop('checked', toggled);
            }
        });
        if ($('#enable').prop('checked')) {
            $('.toggle-button').toggleClass('toggled');
        }

        var oldFields = {
            organisation: $('#organisation').text(),
            url: $('#url').text(),
            contact: $('#contact').text(),
            email: $('#email').text(),
            enabled: $('#enable').prop('checked'),
            uuid: $('#uuid').text()
        }

        $('#edit-main-info').on('click', function(e){
            var $this = $(this);
            if ($this.hasClass('glyphicon-edit')) {
                oldFields = {
                    organisation: $('#organisation').text(),
                    url: $('#url').text(),
                    contact: $('#contact').text(),
                    email: $('#email').text(),
                    enabled: $('#enable').prop('checked'),
                    uuid: $('#uuid').text()
                }
                $('.toggle-button').css('cursor', 'pointer');
                $('.server-main-information').removeClass('panel-primary').removeClass('panel-default').addClass('panel-info');
                $('.server-main-information .panel-heading h3').text('Main information (editing)');
                $('#cancel-main-info').show();
                $this.removeClass('glyphicon-edit').addClass('glyphicon-floppy-disk');
                $this.prop('title', 'Save');
                $('.server-main-information .field-value').each(function(){
                    var fieldValue = $(this);
                    var div = fieldValue.parent();
                    $('<input>', {type: 'text', value: fieldValue.text(), id: fieldValue.prop('id'), class: "field-input"}).appendTo(div);
                    fieldValue.remove();
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('.update_server', id=server.id) }}",
                    data: {
                        organisation: $('#organisation').val(),
                        url: $('#url').val(),
                        contact: $('#contact').val(),
                        email: $('#email').val(),
                        enabled: $('#enable').prop('checked'),
                        uuid: $('#uuid').val()
                    },
                    success: function() {
                        $('.toggle-button').css('cursor', 'default');
                        var panelClass = 'panel-default';
                        if ($('#enable').prop('checked')) {
                            panelClass = 'panel-primary';
                            $('#crawl-now').removeClass('disabled');
                        } else {
                            $('#crawl-now').addClass('disabled');
                        }
                        $('.server-main-information').removeClass('panel-info').addClass(panelClass);
                        $('.server-crawled-information').removeClass('panel-primary').removeClass('panel-default').addClass(panelClass);
                        $('.server-main-information .panel-heading h3').text('Main information');
                        $('#cancel-main-info').hide();
                        $this.removeClass('glyphicon-floppy-disk').addClass('glyphicon-edit');
                        $this.prop('title', 'Edit');
                        $('.server-main-information .field-input').each(function(){
                            var fieldInput = $(this);
                            var div = fieldInput.parent();
                            var fieldValue;
                            if (fieldInput.prop('id') == 'url') {
                                fieldValue = $('<a>', {id: fieldInput.prop('id'), href: fieldInput.val(), text: fieldInput.val(), class: "field-value"});
                            } else if (fieldInput.prop('id') == 'email') {
                                fieldValue = $('<a>', {id: fieldInput.prop('id'), href: 'mailto:' + fieldInput.val(), text: fieldInput.val(), class: "field-value"});
                            } else {
                                fieldValue = $('<span>', {id: fieldInput.prop('id'), text: fieldInput.val(), class: "field-value"});
                            }
                            fieldValue.appendTo(div);
                            fieldInput.remove();
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('AJAX request failed: ' + errorThrown);
                        location.reload();
                    }
                });
            }
        });

        $('#cancel-main-info').on('click', function(){
            var edit = $('#edit-main-info');
            $('.toggle-button').css('cursor', 'default');
            var panelClass = 'panel-default';
            if (oldFields['enabled']) {
                panelClass = 'panel-primary';
            }
            $('.server-main-information').removeClass('panel-info').addClass(panelClass);
            $('.server-main-information .panel-heading h3').text('Main information');
            $('#cancel-main-info').hide();
            edit.removeClass('glyphicon-floppy-disk').addClass('glyphicon-edit');
            edit.prop('title', 'Edit');
            $('.server-main-information .field-input').each(function(){
                var fieldInput = $(this);
                var div = fieldInput.parent();
                var fieldValue;
                if (fieldInput.prop('id') == 'url') {
                    fieldValue = $('<a>', {id: fieldInput.prop('id'), href: oldFields[fieldInput.prop('id')], text: oldFields[fieldInput.prop('id')], class: "field-value"});
                } else if (fieldInput.prop('id') == 'email') {
                    fieldValue = $('<a>', {id: fieldInput.prop('id'), href: 'mailto:' + oldFields[fieldInput.prop('id')], text: oldFields[fieldInput.prop('id')], class: "field-value"});
                } else {
                    fieldValue = $('<span>', {id: fieldInput.prop('id'), text: oldFields[fieldInput.prop('id')], class: "field-value"});
                }
                fieldValue.appendTo(div);
                fieldInput.remove();
            });
            if (oldFields['enabled'] != $('#enable').prop('checked')) {
                $('#enable').prop('checked', oldFields['enabled']);
                $('.toggle-button').toggleClass('toggled');
            }
        });

        var crawledData = {{ server.crawled_data|tojson }};
        if (crawledData != null) {
            var section = 0;
            var sections = $('.server-crawled-information .panel-body').children();
            var div = $('<div>', {class: 'panel-footer'});
            $('<span>', {html: "<strong>Last crawled:</strong> {{ server.crawl_date|datetimeformat('medium') }}"}).appendTo(div);
            div.appendTo($('.server-crawled-information'));
            for (var key in crawledData) {
                if (crawledData[key] != null) {
                    var label = (key.charAt(0).toUpperCase() + key.slice(1)).replace('_', ' ');
                    var row = $('<div>');
                    $('<span>', {'class': 'glyphicon glyphicon-file'}).appendTo(row);
                    $('<label>', {text: label}).appendTo(row);
                    row.append(': ');
                    var value = crawledData[key];
                    if (crawledData[key] instanceof Object) {
                        value = '[Data not displayable]';
                    }
                    $('<span>', {text: value}).appendTo(row);
                    $(sections[section % 3]).append(row);

                    section++;
                }
            }
        } else {
            $('<span>', {text: 'No crawled data available for this server.'}).appendTo($('.server-crawled-information .panel-body'));
        }

        $('#js-server-delete').on('click', function(){
            if (!confirm('Do you really want to delete this instance?')) {
                return;
            }
 
            $.ajax({
                type: 'DELETE',
                url: "{{ url_for('.remove_server', id=server.id) }}",
                success: function() {
                    location.href = "{{ url_for('.server_list') }}";
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                }
            });
        });

        $('#crawl-now').on('click', function(){
            $.ajax({
                type: 'POST',
                url: "{{ url_for('.update_server', id=server.id) }}",
                data: {
                    crawl: true
                },
                success: function() {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });

    </script>
{%- endblock %}
