{% extends '_layout.html' %}

{% block title %}List of servers{% endblock %}

{% block content -%}
    <h1>{{ self.title() }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Organisation name</th>
                <th>URL</th>
                <th>Last crawled</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="server-list">
            {% if g.server_list|length != 0 %}
                {% for server in g.server_list %}
                    <tr>
                        <td>{{ server.organisation }}</td>
                        <td><a href="{{ server.url }}">{{ server.url }}</a></td>
                        {% if server.crawl_date == None %}
                            <td>Never</td>
                        {% else %}
                            <td>{{ server.crawl_date | datetimeformat('medium') }}</td>
                        {% endif %}
                        <td><button type="button" class="btn btn-danger btn-xs js-server-delete" data-url="{{ url_for('.remove_server', uuid=server.uuid) }}" title="Delete server"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No server available in our database at the moment.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{%- endblock %}

{% block body_end %}
    <script>
        addAjaxDeleter($('#server-list'), '.js-server-delete');
    </script>
{%- endblock %}
