{% extends '_layout.html' %}

{% block title %}List of servers{% endblock %}

{% block content -%}
    <h1>{{ self.title() }}</h1>
    <div class="additional-data-container">
        <div id="additional-data-header">
            <span class="toggle-additional-data">Additional data</span><span class="glyphicon glyphicon-chevron-right toggle-additional-data"></span>
        </div>
        <div id="additional-data-body">
            {% for field in extra_fields %}
                <div class="additional-fields">
                    <input id="{{ field }}" type="checkbox"></input>
                    <label for="{{ field }}">{{ (field[0].upper() + field[1:]).replace('_', ' ') }}</label>
                </div>
            {% else %}
                <span>No additional data available.</span>
            {% endfor %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Organisation name</th>
                <th>URL</th>
                <th>Last crawled</th>
                {% for field in extra_fields %}
                    <th class="field-{{ field }}">{{ (field[0].upper() + field[1:]).replace('_', ' ') }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody id="server-list">
            {% if server_list|length != 0 %}
                {% for server in server_list %}
                    <tr class="server-row">
                        <td>
                            <span class="glyphicon glyphicon-chevron-right toggle-expand"></span>
                            {{ server.organisation }}
                        </td>
                        <td><a href="{{ server.url }}">{{ server.url }}</a></td>
                        <td>
                            {% if server.crawl_date is none %}
                                Never
                            {% else %}
                                {{ server.crawl_date | datetimeformat('medium') }}
                            {% endif %}
                        </td>
                        {% for field in extra_fields %}
                            <td class="field-{{ field }}">
                                {% if server.crawled_data is none or server.crawled_data[field] is none %}
                                    -
                                {% elif server.crawled_data[field] is mapping %}
                                    [Data not displayable]
                                {% else %}
                                    {{ server.crawled_data[field] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>
                            <button type="button" class="btn btn-danger btn-xs js-server-delete" data-url="{{ url_for('.remove_server', uuid=server.uuid) }}" title="Delete server">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs crawl-now" data-url="{{ url_for('.update_server', uuid=server.uuid) }}" title="Crawl now">
                                <span class="glyphicon glyphicon-import"></span>
                            </button>
                        </td>
                    </tr>
                    <tr class="active">
                        <td colspan="{{ extra_fields|length + 4 }}">
                            <div class="clearfix">
                                <div class="additional-fields">
                                    <label>Contact:</label>
                                    <span>{{ server.contact }}</span>
                                </div>
                                <div class="additional-fields">
                                    <label>Email:</label>
                                    <a href="mailto:{{ server.email }}">{{ server.email }}</a>
                                </div>
                                <div class="additional-fields">
                                    <label>UUID:</label>
                                    <span>{{ server.uuid }}</span>
                                </div>
                                <div class="additional-fields">
                                    <label>Enabled:</label>
                                    <span>{{ server.enabled }}</span>
                                </div>
                            </div>
                            <div class="clearfix">
                                {% if server.crawled_data is not none %}
                                    {% for field in extra_fields %}
                                        <div class="additional-fields">
                                            {% if server.crawled_data[field] is not none %}
                                                <label>{{ (field[0].upper() + field[1:]).replace('_', ' ') }}:</label>
                                                <span>
                                                    {% if server.crawled_data[field] is mapping %}
                                                        [Data not displayable]
                                                    {% else %}
                                                        {{ server.crawled_data[field] }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="clearfix manage-server">
                                <a href="{{ url_for('.get_server', uuid=server.uuid) }}">Manage server</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No server available in our database at the moment.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{%- endblock %}

{% block body_end %}
    <script>

        addAjaxDeleter($('#server-list'), '.js-server-delete');

        $('.toggle-additional-data').on('click', function(){
            $('#additional-data-header').nextUntil('.table').toggle(400);
            $('.toggle-additional-data.glyphicon').toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-right');
        });
        $('#additional-data-header').nextUntil('.table').toggle(0);

        $('.additional-fields input').on('change', function(){
            if (this.checked) {
                $('.field-'+this.id).css('display', 'table-cell');
            } else {
                $('.field-'+this.id).css('display', 'none');
            }
        }).trigger('change');

        $('.toggle-expand').on('click', function(){
            $(this).parent().parent().next().toggle();
            $(this).toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-right');
        });
        $('.toggle-expand').parent().parent().next().hide();

        $('.crawl-now').on('click', function(){
            $.ajax({
                type: 'POST',
                url: $(this).data('url'),
                data: {
                    crawl: true
                },
                success: function() {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });

    </script>
{%- endblock %}
