{% extends '_layout.html' %}

{% block title %}List of servers{% endblock %}

{% block content -%}
    <h1>{{ self.title() }}</h1>
    <div class="server-list-actions btn-group">
        <button id="crawl-all" type="button" class="btn btn-default">
            Crawl all
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Show
                <b class="caret"></b>
            </button>
            <ul id="show-dropdown" class="dropdown-menu dropdown-menu-form dropdown-menu-right" role="menu">
                <li>
                    <label class="checkbox">
                        <input id="show-enabled"  type="checkbox">
                        Enabled instances
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input id="show-disabled"  type="checkbox">
                        Disabled instances
                    </label>
                </li>
            </ul>
        </div>
        {% if extra_fields|length != 0 %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Additional data
                    <b class="caret"></b>
                </button>
                <ul id="additional-data-dropdown" class="dropdown-menu dropdown-menu-form dropdown-menu-right" role="menu">
                    {% for field in extra_fields %}
                        <li>
                            <label class="checkbox">
                                <input id="{{ field }}"  type="checkbox">
                                {{ (field[0].upper() + field[1:]).replace('_', ' ') }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Organisation name</th>
                <th>URL</th>
                <th>Last crawled</th>
                {% for field in extra_fields %}
                    <th class="field-{{ field }}">{{ (field[0].upper() + field[1:]).replace('_', ' ') }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody id="server-list">
            {% if server_list|length != 0 %}
                {% for server in server_list %}
                    {% if server.enabled %}
                        <tr class="server-row">
                    {% else %}
                        <tr class="server-row danger">
                    {% endif %}
                        <td>
                            <span class="glyphicon glyphicon-chevron-right toggle-expand"></span>
                            {{ server.organisation }}
                        </td>
                        <td><a href="{{ server.url }}">{{ server.url }}</a></td>
                        <td>
                            {% if server.crawl_date is none %}
                                Never
                            {% else %}
                                {{ server.crawl_date | datetimeformat('medium') }}
                            {% endif %}
                        </td>
                        {% for field in extra_fields %}
                            <td class="field-{{ field }}">
                                {% if server.crawled_data is none or server.crawled_data[field] is none %}
                                    -
                                {% elif server.crawled_data[field] is mapping %}
                                    [Data not displayable]
                                {% else %}
                                    {{ server.crawled_data[field] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>
                            <div class="btn-group btn-group-xs server-actions">
                                <button type="button" class="btn btn-default manage-server" data-url="{{ url_for('.get_server', id=server.id) }}" title="Server details">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                {% if server.enabled %}
                                    <button type="button" class="btn btn-default crawl-now" data-url="{{ url_for('.update_server', id=server.id) }}" title="Crawl now">
                                {% else %}
                                    <button type="button" class="btn btn-default crawl-now disabled" data-url="{{ url_for('.update_server', id=server.id) }}" title="Crawl now">
                                {% endif %}
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                                <button type="button" class="btn btn-danger js-server-delete" data-url="{{ url_for('.remove_server', id=server.id) }}" title="Delete server">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="active">
                        <td colspan="{{ extra_fields|length + 4 }}">
                            <div class="clearfix">
                                <div class="additional-fields">
                                    <label>Contact:</label>
                                    <span>{{ server.contact }}</span>
                                </div>
                                <div class="additional-fields">
                                    <label>Email:</label>
                                    <a href="mailto:{{ server.email }}">{{ server.email }}</a>
                                </div>
                                <div class="additional-fields">
                                    <label>UUID:</label>
                                    <span>{{ server.uuid }}</span>
                                </div>
                                <div class="additional-fields">
                                    <label>Enabled:</label>
                                    <span>{{ server.enabled }}</span>
                                </div>
                            </div>
                            <div class="clearfix">
                                {% if server.crawled_data is not none %}
                                    {% for field in extra_fields %}
                                        <div class="additional-fields">
                                            {% if server.crawled_data[field] is not none %}
                                                <label>{{ (field[0].upper() + field[1:]).replace('_', ' ') }}:</label>
                                                <span>
                                                    {% if server.crawled_data[field] is mapping %}
                                                        [Data not displayable]
                                                    {% else %}
                                                        {{ server.crawled_data[field] }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr id="no-matching-instances">
                    <td colspan="{{ extra_fields|length + 4 }}">No instance matches the criteria selected.</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No server available in the database at the moment.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{%- endblock %}

{% block body_end %}
    <script>

        addAjaxDeleter($('#server-list'), '.js-server-delete');

        $('#additional-data-dropdown input').on('change', function(){
            if (this.checked) {
                $('.field-'+this.id).css('display', 'table-cell');
            } else {
                $('.field-'+this.id).css('display', 'none');
            }
        }).trigger('change');

        $('.toggle-expand').on('click', function(){
            $(this).parent().parent().next().toggle();
            $(this).toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-right');
        });
        $('.toggle-expand').parent().parent().next().hide();

        $('.crawl-now').on('click', function(){
            $.ajax({
                type: 'POST',
                url: $(this).data('url'),
                data: {
                    crawl: true
                },
                success: function() {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });

        $('.manage-server').on('click', function(){
            location.href = $(this).data('url');
        });

        $('.dropdown-menu').on('click', function(e) {
            if($(this).hasClass('dropdown-menu-form')) {
                e.stopPropagation();
            }
        });

        $('#crawl-all').on('click', function(){
            if (!confirm('Do you really want to crawl all the servers now?')) {
                return;
            }

            $.ajax({
                type: 'POST',
                url: "{{ url_for('.crawl_all') }}",
                success: function() {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });


        var noMatch = $('#no-matching-instances');
        $('#show-enabled').on('change', function(){
            var toggled = this.checked;
            var allHidden = true;
            $('.server-row').each(function(){
                var $this = $(this);
                if (!$this.hasClass('danger')) {
                    if (toggled) {
                        $this.show();
                    } else {
                        $this.hide();
                    }
                }
                if ($this.css('display') != 'none') {
                    allHidden = false;
                }
            });
            if (allHidden) {
                noMatch.show();
            } else {
                noMatch.hide();
            }
        }).prop('checked', true).trigger('change');
        $('#show-disabled').on('change', function(){
            var toggled = this.checked;
            var allHidden = true;
            $('.server-row').each(function(){
                var $this = $(this);
                if ($this.hasClass('danger')) {
                    if (toggled) {
                        $this.show();
                    } else {
                        $this.hide();
                    }
                }
                if ($this.css('display') != 'none') {
                    allHidden = false;
                }
            });
            if (allHidden) {
                noMatch.show();
            } else {
                noMatch.hide();
            }
        }).prop('checked', false).trigger('change');

    </script>
{%- endblock %}
