{% extends '_layout.html' %}

{% block title %}Statistics{% endblock %}

{% block content -%}

    <h1>Statistics</h1>

    <div class="statistics-grid">
        <div class="container-fluid">
            <div class="row">
                <h2>Country distribution</h2>
                <div class="col-md-7">
                    <div class="world-map"></div>
                </div>
                <div class="col-md-5">
                    <div class="country-piechart-container">
                        <div id="country-piechart"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for field, content in additional_charts.iteritems() if content %}
                    {% set aggregation_func = config['CRAWLED_FIELDS_SETTINGS'].get(field, {}).get('aggregation', None) %}
                    <div class="col-md-6">
                        <h4>
                            {{ field | pretty_name }}
                            {% if aggregation_func %}
                                 ({{ aggregation_func }})
                            {% endif %}
                        </h4>
                        <div id="{{ field }}" class="chartdiv" data-data="{{ content['data'] | tojson | forceescape }}" data-aggregation-label="{{ content['aggregation_label'] }}" data-aggregate-by-label="{{ content['aggregate_by_label'] }}" data-chart-type="{{ content['chart_type'] }}"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{%- endblock %}

{% block body_end %}

    <link rel="stylesheet" type="text/css" href="static/css/jquery.jqplot.css" />
    <script language="javascript" type="text/javascript" src="static/js/jqplot/jquery.jqplot.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>

    <link rel="stylesheet" href="static/css/jquery-jvectormap-1.2.2.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="static/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="static/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

    <script>

        var countryCodes = {{ country_codes | tojson }};
        var idMapping = {{ id_mapping | tojson }};
        $('.world-map').vectorMap({
            map: 'world_mill_en',
            backgroundColor: 'white',
            zoomButtons: false,
            series: {
                regions: [{
                    values: countryCodes,
                    scale: ['#C8EEFF', '#0071A4'],
                    normalizeFunction: 'polynomial'
                }]
            },
            regionStyle: {
                initial: {
                    fill: 'lightgray',
                    stroke: 'white',
                    'stroke-width': '1'
                }
            },
            markers: {{ markers | tojson }},
            markerStyle: {
                initial: {
                    fill: 'white'
                }
            },
            onRegionLabelShow: function(e, el, code){
                var label = el.html();
                if (countryCodes[code] == 1) {
                    label += ': 1 instance';
                } else if (countryCodes[code] != undefined) {
                    label += ': '+countryCodes[code]+' instances';
                }
                el.html(label);
            },
            onMarkerClick: function(e, code){
                location.href = '/servers/' + idMapping[code];
            },
            onMarkerOver: function(e, code){
                document.body.style.cursor = 'pointer';
            },
            onMarkerOut: function(e, code){
                document.body.style.cursor = 'default';
            }
        });

        var countryNames = {{ country_names | tojson }};
        var data = [];
        for (var name in countryNames) {
            data.push([name, countryNames[name]]);
        }
        var options = { 
            seriesDefaults: {
                renderer: $.jqplot.PieRenderer,
                rendererOptions: {
                    showDataLabels: true,
                },
                shadow: false
            },
            legend: {
                show: true,
                location: 'e'
            },
            grid: {
                background: '#FFFFFF',
                borderWidth: 0,
                shadow: false
            }
        };
        $.jqplot(
            'country-piechart',
            [data],
            options
        );

        $('.chartdiv').each(function(){
            var $this = $(this);
            var list = $this.data('data');
            var xLabel = $this.data('aggregate-by-label');
            var yLabel = $this.data('aggregation-label');
            var type = $this.data('chart-type');
            var data = [];
            var ticks = [];
            for (var i = 0; i < list.length; i++) {
                ticks.push(list[i][0]);
                data.push(list[i][1]);
            }
            var chartRenderer = null;
            var xAxisOptions = {
                label: xLabel,
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks,
                tickOptions: {
                    showGridline: false
                }
            };
            var isPieChart = false;
            if (type == 'line') {
                chartRenderer = $.jqplot.LineRendered;
            } else if (type == 'pie') {
                chartRenderer = $.jqplot.PieRenderer;
                xAxisOptions = {
                    show: false
                };
                isPieChart = true;
            } else {
                chartRenderer = $.jqplot.BarRenderer;
            }

            var options = { 
                seriesDefaults: {
                    renderer: chartRenderer,
                    rendererOptions: {
                        showDataLabels: true,
                    },
                    shadow: false,
                    pointLabels: {show: true}
                },
                grid: {
                    background: '#FFFFFF',
                    borderWidth: 0,
                    shadow: false
                },
                legend: {
                    show: isPieChart,
                    location: 'e',
                    labels: ticks
                },
                axesDefaults: {
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                },
                axes: {
                    xaxis: xAxisOptions,
                    yaxis: {
                        label: yLabel,
                        rendererOptions: {drawBaseline: false}
                    }
                }
            };

            $.jqplot(
                this.id,
                [data],
                options
            );
        });

    </script>

{%- endblock %}
