<!DOCTYPE html>
<html>
    <head>
        <title>{{ config.APP_NAME }} - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta charset="UTF-8">
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
        {%- assets filters='libsass,csscompressor,cssrewrite', output='assets/bundle.css', 'css/main.scss' %}
            <link href="{{ ASSET_URL|version_url }}" rel="stylesheet">
        {%- endassets %}
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('auth.index') }}">{{ config.APP_NAME }}</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if session.user %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if g.menu == 'server_list' %}active{% endif %}"
                                   href="{{ url_for('frontend.server_list') }}">
                                    Servers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if g.menu == 'statistics' %}active{% endif %}"
                                   href="{{ url_for('frontend.statistics') }}">
                                    Statistics
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                    <ul class="nav navbar-nav ml-auto">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <li class="navbar-text">
                                    {% for message in messages %}
                                        <span class="flashed-message">{{ message }}</span>
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endwith %}
                        {% if session.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <span class="fa fa-user"></span>
                                    {{ session.user }} ({{ session._multipass_login_provider }})
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url_for('frontend.logout') }}">Log out</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('auth.index') }}">{{ config.APP_NAME }}</a></li>
            {% for bc in g.breadcrumbs %}
                {% if loop.last %}
                    <li class="breadcrumb-item active">{{ bc.title }}</li>
                {% elif bc.link %}
                    <li class="breadcrumb-item"><a href="{{ bc.link }}">{{ bc.title }}</a></li>
                {% else %}
                    <li class="breadcrumb-item">{{ bc.title }}</li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class="clearfix container">
            {% block content %}{% endblock %}
        </div>
        {%- assets filters='rjsmin', output='assets/bundle.js', 'js/jquery.js', 'js/main.js' %}
            <script src="{{ ASSET_URL|version_url }}"></script>
        {%- endassets %}
        <script src="https://use.fontawesome.com/6628848322.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous">
        </script>
        {% block body_end %}{% endblock %}
        <div class="footer">
            <img src="{{ url_for('static', filename='logo.png') }}" class="footer-logo">
            <span>Powered by <a href="https://github.com/indico/mereswine">Mereswine</a></span>
        </div>
    </body>
</html>
