{% extends '_layout.html' %}

{% block title %}Server management{% endblock %}

{% block content -%}

    <div class="server-management-body">

        <h1>{{ title }}</h1>

        <div class="server-actions">
            <h3>Actions</h3>
            <div class="btn-group">
                <button id="crawl-now" type="button" class="btn btn-secondary"{{ ' disabled' if not server.enabled }}>
                    <span class="fa fa-refresh"></span>
                    Crawl now
                </button>
                <button id="js-server-delete" type="button" class="btn btn-danger">
                    <span class="fa fa-remove"></span>
                    Delete server
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row server-information-row">
                <div class="col-md-6">
                    <div class="server-main-information card panel panel{{ '-primary' if server.enabled else '-default' }}">
                        <div class="card-header d-flex justify-content-between">
                            <h4>Main information</h4>
                            <button id="edit-main-info" type="button" class="btn btn-secondary" title="Edit">
                                <span class="fa fa-edit"></span>
                            </button>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="fa fa-briefcase"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>Organization:</strong>
                                </div>
                                <div class="col-md-7">
                                    <span id="organization" class="field-value">{{ server.organization }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="fa fa-link"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>URL:</strong>
                                </div>
                                <div class="col-md-7">
                                    <a id="url" class="field-value" href="{{ server.url }}">{{ server.url }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="fa fa-user"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>Contact name:</strong>
                                </div>
                                <div class="col-md-7">
                                    <span id="contact" class="field-value">{{ server.contact }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="fa fa-envelope"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>Email:</strong>
                                </div>
                                <div class="col-md-7">
                                    <a id="email" class="field-value" href="mailto:{{ server.email }}">{{ server.email }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="fa fa-folder-open"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>UUID:</strong>
                                </div>
                                <div class="col-md-7">
                                    <span id="uuid">{{ server.uuid }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>Enabled:</strong>
                                </div>
                                <div class="col-md-7">
                                    <input id="enable" class="hidden enable-checkbox" type="checkbox"{{ ' checked' if server.enabled }}>
                                    {% if server.enabled %}
                                        <span id="enabled-text" class="text-success">Yes</span>
                                    {% else %}
                                        <span id="enabled-text" class="text-muted">No</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="save-main-info" type="button" class="btn btn-secondary" title="Save">
                                <span class="fa fa-floppy-o"></span>
                            </button>
                            <button id="cancel-main-info" type="button" class="btn btn-secondary" title="Cancel">
                                <span class="fa fa-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="server-crawled-information card panel panel{{ '-primary' if server.enabled else '-default' }}">
                        <div class="card-header d-flex justify-content-between">
                            <h4>Crawled information</h4>
                        </div>
                        <div class="card-block">
                            {% if server.crawled_data %}
                                {% for field in fields if server.crawled_data[field] %}
                                    {% set aggregation_func = config.CRAWLED_FIELDS_SETTINGS.get(field, {}).get('aggregation', None) %}
                                    <div class="row">
                                        <div class="col-md-1">
                                            <span class="fa fa-file"></span>
                                        </div>
                                        <div class="col-md-5">
                                            <strong>
                                                {{ field | pretty_name }}:
                                            </strong>
                                        </div>
                                        <div class="col-md-6">
                                            <span>
                                                {% set aggregated_value = (server.crawled_data[field] | aggregate(aggregation_func)) %}
                                                {% if aggregated_value is string or aggregated_value is number %}
                                                    {{ aggregated_value }}
                                                {% else %}
                                                    [Data not displayable]
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <span>No crawled data available for this server.</span>
                            {% endif %}
                        </div>
                        {% if server.crawled_data %}
                            <div class="card-footer">
                                <span>
                                    <strong>Last crawled:</strong>
                                    {{ server.crawl_date|datetimeformat('medium') }}
                                    ({{ config.BABEL_DEFAULT_TIMEZONE }})
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>

            {% if server.geolocation %}
                <div class="row">
                    <div class="col-md-12 server-geolocation" data-latitude="{{ server.geolocation.latitude }}" data-longitude="{{ server.geolocation.longitude }}">
                        <h3>Geolocation</h3>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>

{%- endblock %}

{% block body_end %}

    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&amp;callback=initMap"
            async defer></script>

    <script>

        $('#enable').on('change', function(){
            var enabledText = $('#enabled-text');
            if (this.checked) {
                enabledText.text('Yes');
                enabledText.removeClass('text-muted').addClass('text-success');
            } else {
                enabledText.text('No');
                enabledText.removeClass('text-success').addClass('text-muted');
            }
        });

        var oldFields = {
            organization: $('#organization').text(),
            url: $('#url').text(),
            contact: $('#contact').text(),
            email: $('#email').text(),
            enabled: $('#enable').prop('checked')
        }

        $('#edit-main-info').on('click', function(e){
            oldFields = {
                organization: $('#organization').text(),
                url: $('#url').text(),
                contact: $('#contact').text(),
                email: $('#email').text(),
                enabled: $('#enable').prop('checked')
            }
            $('.server-main-information').removeClass('panel-primary').removeClass('panel-default').addClass('panel-info');
            $('.server-main-information h4').text('Main information (editing)');
            $('.server-main-information .card-footer').addClass('active');
            $(this).hide();
            $('.server-main-information .field-value').each(function(){
                var fieldValue = $(this);
                var div = fieldValue.parent();
                $('<input>', {type: 'text', value: fieldValue.text(), id: fieldValue.prop('id'), class: "field-input"}).appendTo(div);
                fieldValue.remove();
            });
            $('#enable').removeClass('hidden');
            $('#enabled-text').addClass('hidden');
        });

        $('#save-main-info').on('click', function(e){
            $.ajax({
                type: 'POST',
                url: {{ url_for('.update_server', id=server.id) | tojson }},
                data: {
                    organization: $('#organization').val(),
                    url: $('#url').val(),
                    contact: $('#contact').val(),
                    email: $('#email').val(),
                    enabled: $('#enable').prop('checked')
                },
                success: function() {
                    var panelClass = $('#enable').prop('checked') ? 'panel-primary' : 'panel-default';
                    $('#crawl-now').prop('disabled', ! $('#enable').prop('checked'));
                    $('.server-main-information').removeClass('panel-info').addClass(panelClass);
                    $('.server-crawled-information').removeClass('panel-primary').removeClass('panel-default').addClass(panelClass);
                    $('.server-main-information h4').text('Main information');
                    $('.server-main-information .card-footer').removeClass('active');
                    $('#edit-main-info').show();
                    $('.server-main-information .field-input').each(function(){
                        var fieldInput = $(this);
                        var div = fieldInput.parent();
                        var fieldValue;
                        if (fieldInput.prop('id') == 'url') {
                            fieldValue = $('<a>', {id: fieldInput.prop('id'), href: fieldInput.val(), text: fieldInput.val(), class: "field-value"});
                        } else if (fieldInput.prop('id') == 'email') {
                            fieldValue = $('<a>', {id: fieldInput.prop('id'), href: 'mailto:' + fieldInput.val(), text: fieldInput.val(), class: "field-value"});
                        } else {
                            fieldValue = $('<span>', {id: fieldInput.prop('id'), text: fieldInput.val(), class: "field-value"});
                        }
                        fieldValue.appendTo(div);
                        fieldInput.remove();
                    });
                    $('#enable').addClass('hidden');
                    $('#enabled-text').removeClass('hidden');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });

        $('#cancel-main-info').on('click', function(){
            $('.toggle-button').css('cursor', 'default');
            var panelClass = oldFields.enabled ? 'panel-primary' : 'panel-default';
            $('.server-main-information').removeClass('panel-info').addClass(panelClass);
            $('.server-main-information h4').text('Main information');
            $('.server-main-information .card-footer').removeClass('active');
            $('#edit-main-info').show();
            $('.server-main-information .field-input').each(function(){
                var fieldInput = $(this);
                var div = fieldInput.parent();
                var fieldValue;
                if (fieldInput.prop('id') == 'url') {
                    fieldValue = $('<a>', {id: fieldInput.prop('id'), href: oldFields[fieldInput.prop('id')], text: oldFields[fieldInput.prop('id')], class: "field-value"});
                } else if (fieldInput.prop('id') == 'email') {
                    fieldValue = $('<a>', {id: fieldInput.prop('id'), href: 'mailto:' + oldFields[fieldInput.prop('id')], text: oldFields[fieldInput.prop('id')], class: "field-value"});
                } else {
                    fieldValue = $('<span>', {id: fieldInput.prop('id'), text: oldFields[fieldInput.prop('id')], class: "field-value"});
                }
                fieldValue.appendTo(div);
                fieldInput.remove();
            });
            $('#enable').prop('checked', oldFields['enabled']).addClass('hidden').trigger('change');
            $('#enabled-text').removeClass('hidden');
        });

        $('#js-server-delete').on('click', function(){
            if (!confirm('Do you really want to delete this instance?')) {
                return;
            }
 
            $.ajax({
                type: 'DELETE',
                url: {{ url_for('.remove_server', id=server.id) | tojson }},
                success: function() {
                    location.href = {{ url_for('.server_list') | tojson }};
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                }
            });
        });

        $('#crawl-now').on('click', function(){
            $.ajax({
                type: 'POST',
                url: {{ url_for('.update_server', id=server.id) | tojson }},
                data: {
                    crawl: true
                },
                success: function() {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('AJAX request failed: ' + errorThrown);
                    location.reload();
                }
            });
        });

        function initMap() {
            var $serverGeolocation = $('.server-geolocation');
            var mapCanvas = $('<div>', {class: 'map-canvas'});
            $serverGeolocation.append(mapCanvas);

            var coords = new google.maps.LatLng($serverGeolocation.data('latitude'),
                                                $serverGeolocation.data('longitude'));

            var options = {
                zoom: 9,
                center: coords,
                mapTypeControl: false,
                navigationControlOptions: {
                    style: google.maps.NavigationControlStyle.SMALL
                },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(mapCanvas.get(0), options);

            var marker = new google.maps.Marker({
                position: coords,
                map: map,
                title: {{ title | tojson }}
            });
        }

    </script>
{%- endblock %}
