<!DOCTYPE html>
<html>
    <head>
        <title>{{ config.APP_NAME }} - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta charset="UTF-8">
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('frontend.index') }}">{{ config.APP_NAME }}</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="{{ url_for('.server_list') }}"
                               class="nav-link {% if g.menu == 'server_list' %}active{% endif %}">
                                Servers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('.statistics') }}"
                               class="nav-link {% if g.menu == 'statistics' %}active{% endif %}">
                                Statistics
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="it-navbar-login">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <span class="flashed-message">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% if session.user %}
                        <form action="{{ url_for('.logout') }}" method="POST">
                            <span class="navbar-user navbar-brand glyphicon glyphicon-user">
                                {{ session.user }} ({{ session._multipass_login_provider }})
                            </span>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-default">Log out</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('frontend.index') }}">{{ config.APP_NAME }}</a></li>
            {% for bc in g.breadcrumbs %}
                {% if loop.last %}
                    <li class="breadcrumb-item active">{{ bc.title }}</li>
                {% elif bc.link %}
                    <li class="breadcrumb-item"><a href="{{ bc.link }}">{{ bc.title }}</a></li>
                {% else %}
                    <li class="breadcrumb-item">{{ bc.title }}</li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class="clearfix container">
            {% block content %}{% endblock %}
        </div>
        {%- assets filters='rjsmin', output='assets/bundle.js', 'js/jquery.js', 'js/main.js' %}
            <script src="{{ ASSET_URL|version_url }}"></script>
        {%- endassets %}
        <script src="https://use.fontawesome.com/6628848322.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous">
        </script>
        {% block body_end %}{% endblock %}
    </body>
</html>
