{% extends '_layout.html' %}

{% block title %}Statistics{% endblock %}

{% block content -%}

    <h1>Statistics</h1>

    {% if country_names %}
        <div class="statistics-grid">
            <div class="container-fluid">
                <h2>Country distribution</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div class="world-map"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="country-piechart-container">
                            <div id="country-piechart"></div>
                        </div>
                    </div>
                </div>
                <h2>Registered instances</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div id="instances-chart"></div>
                    </div>
                </div>
                <div class="row">
                    {% for field, content in additional_charts.items() if content %}
                        <div class="col-md-6 statistics-item">
                            <h4>
                                {{ field | pretty_name }}
                            </h4>
                            <div id="{{ field }}" class="chartdiv" data-data="{{ content['data'] | tojson | forceescape }}" data-aggregation-label="{{ content['aggregation_label'] }}" data-aggregate-by-label="{{ content['aggregate_by_label'] }}" data-chart-type="{{ content['chart_type'] }}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <span>No statistics available!<span>
    {% endif %}

{%- endblock %}

{% block body_end %}

    {%- assets filters='csscompressor,cssrewrite', output='assets/statistics.css',
               'css/jquery.jqplot.css', 'css/jquery-jvectormap-1.2.2.css' %}
        <link href="{{ ASSET_URL|version_url }}" rel="stylesheet">
    {%- endassets %}

    {%- assets filters='rjsmin', output='assets/statistics.js', 'js/jqplot/jquery.jqplot.js',
               'js/jqplot/plugins/jqplot.pieRenderer.js', 'js/jqplot/plugins/jqplot.barRenderer.js',
               'js/jqplot/plugins/jqplot.categoryAxisRenderer.js', 'js/jqplot/plugins/jqplot.pointLabels.js',
               'js/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js',
               'js/jqplot/plugins/jqplot.dateAxisRenderer.js',
               'js/jqplot/plugins/jqplot.canvasTextRenderer.js', 'js/jvectormap/jquery.jvectormap.js',
               'js/jvectormap/jquery-jvectormap-world-mill-en.js' %}
        <script src="{{ ASSET_URL|version_url }}"></script>
    {%- endassets %}

    <script>

        var countryCodes = {{ country_codes | tojson }};
        var idMapping = {{ id_mapping | tojson }};
        $('.world-map').vectorMap({
            map: 'world_mill_en',
            backgroundColor: 'white',
            zoomButtons: false,
            series: {
                regions: [{
                    values: countryCodes,
                    scale: ['#C8EEFF', '#0071A4'],
                    normalizeFunction: 'polynomial'
                }]
            },
            regionStyle: {
                initial: {
                    fill: 'lightgray',
                    stroke: 'white',
                    'stroke-width': '1'
                }
            },
            markers: {{ markers | tojson }},
            markerStyle: {
                initial: {
                    fill: 'white'
                }
            },
            onRegionLabelShow: function(e, el, code){
                var label = el.html();
                if (countryCodes[code] == 1) {
                    label += ': 1 instance';
                } else if (countryCodes[code] != undefined) {
                    label += ': '+countryCodes[code]+' instances';
                }
                el.html(label);
            },
            onMarkerClick: function(e, code){
                location.href = '/servers/' + idMapping[code];
            },
            onMarkerOver: function(e, code){
                document.body.style.cursor = 'pointer';
            },
            onMarkerOut: function(e, code){
                document.body.style.cursor = 'default';
            }
        });

        var countryNames = {{ country_names | tojson }};
        var data = [];
        for (var name in countryNames) {
            data.push([name, countryNames[name]]);
        }
        var options = {
            seriesDefaults: {
                renderer: $.jqplot.PieRenderer,
                rendererOptions: {
                    showDataLabels: true,
                },
                shadow: false
            },
            legend: {
                show: true,
                location: 'e'
            },
            grid: {
                background: '#FFFFFF',
                borderWidth: 0,
                shadow: false
            }
        };
        $.jqplot(
            'country-piechart',
            [data],
            options
        );

        var registration_counts = {{ registration_counts | tojson }};
        data = [];
        for (var i = 0; i < registration_counts.length; i++) {
            data.push([registration_counts[i][0], registration_counts[i][1]]);
        }
        options = {
            seriesDefaults: {
                renderer: $.jqplot.LineRendered,
                rendererOptions: {
                    showDataLabels: true,
                },
                shadow: false,
                pointLabels: {show: true}
            },
            grid: {
                background: '#FFFFFF',
                borderWidth: 0,
                shadow: false
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.DateAxisRenderer,
                    tickOptions: {
                        showGridline: false,
                        formatString:'%b, %Y'
                    },
                    tickInterval:'4 month'
                },
                yaxis: {
                    rendererOptions: {drawBaseline: false}
                }
            }
        };
        $.jqplot(
            'instances-chart',
            [data],
            options
        );

        $('.chartdiv').each(function(){
            var $this = $(this);
            var list = $this.data('data');
            var xLabel = $this.data('aggregate-by-label');
            var yLabel = $this.data('aggregation-label');
            var type = $this.data('chart-type');
            var data = [];
            var ticks = [];
            for (var i = 0; i < list.length; i++) {
                ticks.push(list[i][0]);
                data.push(list[i][1]);
            }
            var chartRenderer = null;
            var xAxisOptions = {
                label: xLabel,
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks,
                tickOptions: {
                    showGridline: false
                }
            };
            var isPieChart = false;
            if (type == 'line') {
                chartRenderer = $.jqplot.LineRendered;
            } else if (type == 'pie') {
                chartRenderer = $.jqplot.PieRenderer;
                xAxisOptions = {
                    show: false
                };
                isPieChart = true;
            } else {
                chartRenderer = $.jqplot.BarRenderer;
            }

            var options = {
                seriesDefaults: {
                    renderer: chartRenderer,
                    rendererOptions: {
                        showDataLabels: true,
                    },
                    shadow: false,
                    pointLabels: {show: true}
                },
                grid: {
                    background: '#FFFFFF',
                    borderWidth: 0,
                    shadow: false
                },
                legend: {
                    show: isPieChart,
                    location: 'e',
                    labels: ticks
                },
                axesDefaults: {
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                },
                axes: {
                    xaxis: xAxisOptions,
                    yaxis: {
                        label: yLabel,
                        rendererOptions: {drawBaseline: false}
                    }
                }
            };

            $.jqplot(
                this.id,
                [data],
                options
            );
        });

    </script>

{%- endblock %}
