@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';

html {
    overflow-y: scroll;
}

body {
    padding-top: @navbar-height;
}

.it-navbar-menu {
    float: left;
}

.it-navbar-login {
    float: right;
    margin-top: 8px;
    height: 40px;

    .flashed-message {
        color: @brand-danger;
        font-weight: bold;
        margin-right: 15px;
    }

    .navbar-user {
        padding-top: 4px;
        padding-bottom: 4px;
        height: initial;
    }

    .logged-user-button {
        cursor: default;
    }

    form {
        display: inline-block;
    }

    ul {
        width: 240px;

        li:not(.divider):not(.login-logout-button), span {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .remember-me {
            float: left;
            margin-top: 10px;
            margin-right: 20px;
            margin-left: 10px;

            label {
                font-weight: normal;
            }
        }

        .login-button {
            float: right;
            margin-right: 10px;
        }
    }
}

.additional-fields {
    float: left;
    margin-right: 3em;
}

.toggle-expand {
    cursor: pointer;
    margin-left: -26px;
    margin-right: 5px;
}

.dataTables_wrapper {
    margin-bottom: 120px;
}

.server-row {

    &.danger {
        color: gray;
    }

    .server-actions {
        min-width: 70px;
    }
}

.server-list-actions {
    margin-top: 40px;
    margin-bottom: 60px;

    ul.dropdown-menu-form {
        padding: 5px 10px 0;
    }
}

.server-management-body {

    .server-geolocation {
        margin-left: -15px;

        .map-canvas {
            height: 400px;
            width: 100%;
        }
    }

    .col-md-4, .col-md-6, .col-md-7 {
        padding-left: 0px;
    }

    .server-main-information {
        margin-top: 60px;

        .panel-heading, .panel-footer .glyphicon {
            cursor: pointer;
            font-size: 20px;
        }
    }

    .server-main-information, .server-crawled-information {
        display: inline-block;
        width: 500px;
        margin-top: 60px;
        text-align: left;

        .panel-heading {
            h3 {
                display: inline-block;
            }

            div {
                float: right;
            }

            .glyphicon {
                margin-top: 20px;
            }
        }

        .panel-body {

            .text-success, .text-muted {
                font-weight: bold;
            }
        }

        .panel-footer {
            display: none;
            min-height: 40px;

            span, label {
                float: right;
            }

            .glyphicon {
                margin-left: 10px;
            }
        }
    }
}

.sections-buttons {

    form {
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
    }
}
