@import 'bootstrap/variables.less';

html {
    overflow-y: scroll;
}

body {
    padding-top: @navbar-height;
}

.additional-fields {
    float: left;
    margin-right: 3em;
}

.additional-data-container {
    margin-top: 20px;
}

.table {
    margin-top: 40px;
}

.toggle-additional-data {
    cursor: pointer;
}

.toggle-expand {
    cursor: pointer;
}
